.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5rem;
  min-height: calc(100vh - 5rem);
  .map {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
  }
  .valueprop {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    .valueprop-title {
      text-align: left;
    }
    .valueprop-details {
      text-align: left;
    }
    .email-form-banner {
      position: relative;
      text-align: left;
      background: transparent;
      width: 100%;
      input {
        font-family: "Roboto", sans-serif;
        height: 5.5rem;
        width: 100%;
        font-weight: 400;
        background: white;
        color: #373737;
        border: solid #29b3c1;
        text-align: left;
        border-radius: 1rem;
        font-size: 1.6rem;
        padding: 1rem;
        &:focus {
          width: 100%;
          transition-duration: 0.5s;
          outline: 0;
        }
      }
      .btn-blue {
        position: absolute;
        right: 0rem;
        height: 5.5rem;
        padding: 0 2rem;
        border-radius: 1rem;
        border: none;
        background-color: #29b3c1;
        color: white;
        &:hover {
          transition: background-color 0.5s;
          background-color: #53c2cd;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .valueprop {
    bottom: 3rem;
    width: 33rem;
    border: solid orange;
    .valueprop-title {
      h1 {
        font-size: 2.5rem;
      }
    }
    .valueprop-details {
      p {
        font-size: 1.4rem;
      }
    }
  }
}

@media (min-width: 601px) {
  .valueprop {
    width: 35rem;
    bottom: 5rem;
    left: 5rem;
  }
}

@media (min-width: 1201px) {
  .valueprop {
    width: 35rem;
    bottom: 8rem;
    left: 10rem;
  }
}
