.popup-content {
  border-radius: 1rem;
  max-height: 80vh;
  position: relative;
  overflow-y: scroll;
  .MuiPaper-elevation1 {
    box-shadow: none !important;
  }
  .MuiExpansionPanel-root:before {
    background-color: #f2f2f2;
  }
}
.faq-title {
  h4 {
    color: #3e936f !important;
    font-weight: normal 400 !important;
    font-size: 1.6rem !important;
  }
}

.faq-answers {
  p {
    color: #262626 !important;
    font-weight: normal 400 !important;
    text-align: justify !important;
  }
}

// extra-small screens
@media (max-width: 900px) {
  .popup-content {
    width: 80% !important;
  }
  .faq-title {
    .h4 {
      font-size: 1.6rem !important;
    }
  }
  .faq-answers {
    p {
      font-size: 1.4rem !important;
    }
  }
}

// small screens
@media (max-width: 1200px) {
  .popup-content {
    width: 80% !important;
  }
}
