.wrapper {
  .myclimate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px 0px 40px;
    .fa-globe-europe {
      color: #29b3c1;
      margin: 0px 100px 0px 100px;
    }
    .myclimate-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

// extra-small screens
@media (max-width: 900px) {
  .wrapper {
    .myclimate {
      flex-direction: column-reverse;
      padding: 25px 20px 25px 20px;
      .myclimate-img {
        margin-top: 50px;
      }
      .myclimate-content {
        margin-top: 25px;
        margin-bottom: 50px;
      }
    }
  }
}

// small screens
@media (min-width: 901px) {
  .wrapper {
    .myclimate {
      padding: 125px 50px 125px 50px;
      .myclimate-img {
        width: 50%;
      }
      .myclimate-content {
        width: 50%;
      }
    }
  }
}

// normal and big screens
@media (min-width: 1201px) {
  .wrapper {
    .myclimate {
      padding: 125px 100px 125px 100px;
      .myclimate-img {
        width: 40%;
      }
      .myclimate-content {
        width: 60%;
      }
    }
  }
}
