.wrapper {
  .myclimate {
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-globe-europe {
      color: #29b3c1;
      text-align: center;
    }
    .myclimate-img {
      text-align: center;
    }
    .myclimate-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

// extra-small screens
@media (max-width: 1050px) {
  .wrapper {
    .myclimate {
      flex-direction: column-reverse;
      padding: 8rem 2rem 8rem 2rem;
    }
  }
}

// small screens
@media (min-width: 901px) {
  .wrapper {
    .myclimate {
      padding: 10rem 5rem 10rem 5rem;
    }
  }
}

// normal and big screens
@media (min-width: 1201px) {
  .wrapper {
    .myclimate {
      padding: 10rem 20rem 10rem 20rem;
      .myclimate-img {
        width: 40%;
      }
      .myclimate-content {
        width: 60%;
        padding: 0 10rem 0 10rem;
      }
    }
  }
}
