.wrapper {
  position: relative;
  .earth {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: -1;
    .earth-img {
      width: 100%;
    }
  }
  .travel-comparator {
    display: none;
  }
  .why-to-use-it {
    display: flex;
    .why-to-use-it-text {
      .why-to-use-it-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          color: #29b3c1;
        }
        .why-to-use-it-content-card {
          display: flex;
          align-items: flex-start;
          width: 100%;
          .why-to-use-it-number {
            width: 30%;
            text-align: center;
          }
          .why-to-use-it-details {
            text-align: left;
            width: 70%;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

// landscape
@media (orientation: landscape) {
  .wrapper {
    .why-to-use-it {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

// small mobile screens landscape
@media (min-width: 500px) and (orientation: landscape) {
  .wrapper {
    .earth {
      top: -110px;
    }
    .why-to-use-it {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      .why-to-use-it-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
      }
      .why-to-use-it-gif {
        width: 100%;
        text-align: center;
        .why-to-use-it-video {
          max-width: 400px;
        }
      }
    }
  }
}

// mobile screens landscape
@media (min-width: 650px) and (orientation: landscape) {
  .wrapper {
    .earth {
      top: -150px;
    }
  }
}

// small tablet screens landscape
@media (min-width: 950px) and (orientation: landscape) {
  .wrapper {
    .earth {
      top: -200px;
    }
  }
}

// tablet screens landscape
@media (min-width: 1200px) and (orientation: landscape) {
  .wrapper {
    .earth {
      top: -265px;
    }
  }
}

// portrait
@media (orientation: portrait) {
  .wrapper {
    .valueprop {
      .why-to-use-it {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// small mobile screens portrait
@media (max-width: 320px) and (orientation: portrait) {
  .wrapper {
    .earth {
      top: -80px !important;
    }
    .why-to-use-it {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;

      .why-to-use-it-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        p {
          font-size: 14px;
        }
      }
      .why-to-use-it-gif {
        width: 100%;
        text-align: center;
        .why-to-use-it-video {
          max-width: 300px;
        }
      }
    }
  }
}

// mobile screens portrait
@media (min-width: 321px) and (orientation: portrait) {
  .wrapper {
    .earth {
      top: -100px;
    }
    .why-to-use-it {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      .why-to-use-it-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        .why-to-use-it-title {
        }
      }
      .why-to-use-it-gif {
        width: 100%;
        text-align: center;
        .why-to-use-it-video {
          max-width: 300px;
        }
      }
    }
  }
}

@media (min-width: 370px) and (orientation: portrait) {
  .wrapper {
    .earth {
      top: -80px;
    }
    .why-to-use-it {
      .why-to-use-it-text {
        margin-top: 80px;
        margin-right: 10px;
      }
    }
  }
}

// small tablet screens portrait
@media (min-width: 600px) and (orientation: portrait) {
  .wrapper {
    .earth {
      top: -120px !important;
    }
  }
}

// tablet screens portrait
@media (min-width: 750px) and (orientation: portrait) {
  .wrapper {
    .earth {
      top: -150px !important;
    }
  }
}

@media (min-width: 1000px) and (orientation: portrait) {
  .wrapper {
    .earth {
      top: -200px !important;
    }
    .why-to-use-it {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0px 50px 100px 50px;
      .why-to-use-it-text {
        width: 60%;
        margin-top: 150px;
      }
      .why-to-use-it-gif {
        width: 40%;
        margin-top: 150px;
      }
    }
  }
}

// laptop and computer screens
@media (min-width: 1201px) {
  .wrapper {
    .why-to-use-it {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0px 50px 100px 50px;
      .why-to-use-it-text {
        width: 60%;
        margin-top: 200px;
      }
      .why-to-use-it-gif {
        width: 40%;
        text-align: center;
        margin-top: 150px;
      }
    }
  }
}

@media (min-width: 1601px) {
  .wrapper {
    .earth {
      display: none;
    }
    .travel-comparator {
      position: absolute;
      top: -200px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      width: 100%;
      background-color: #29b3c1;
      h2 {
        color: white;
        font-size: 40px;
      }
    }
    .why-to-use-it {
      margin-bottom: 200px;
    }
  }
}
